<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.helper.dao.PubImgPathMapper" >
 
<resultMap type="com.helper.model.PublishSkill" id="find">
    
    
</resultMap>    
    
    
    
    
<insert id="addPubImgPath" parameterType="com.helper.model.PubImgPath" useGeneratedKeys="true" keyProperty="id" >
    <selectKey resultType="Integer" keyProperty="id" order="AFTER">  
        SELECT LAST_INSERT_ID()   
    </selectKey>  
    insert into t_pubImgPath(imgPath,username,status,createUser,createTime) 
    			      values(#{imgPath},#{username},#{status},#{createUser},#{createTime})
</insert>



<insert id="addPublishSkill" parameterType="com.helper.model.PublishSkill" useGeneratedKeys="true" keyProperty="id" >
    <selectKey resultType="Integer" keyProperty="id" order="AFTER">  
        SELECT LAST_INSERT_ID()   
    </selectKey>  
    insert into t_publishskill(reserverName,reserverNameType1,reserverNameType2,reserverNameType3,serverType,serverTime,price,countType,skillDescription,status,createUser,createTime,updateUser) 
    			      values(#{reserverName},#{reserverNameType1},#{reserverNameType2},#{reserverNameType3},#{serverType},#{serverTime},#{price},#{countType},#{skillDescription},#{status},#{createUser},#{createTime},#{updateUser})
</insert>


<update id="updatePubImgPath" >  
        UPDATE   
          t_pubImgPath 
        SET  
          publishId =  #{0} 
        WHERE username = #{1} and publishId is null
</update>  










</mapper>