<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.helper.dao.UserMapper" >
    
    
 	<insert id="addrUserModel" parameterType="com.helper.model.UserModel" useGeneratedKeys="true" keyProperty="id" >
	    <selectKey resultType="Integer" keyProperty="id" order="AFTER">  
	        SELECT LAST_INSERT_ID()   
	    </selectKey>  
	    insert into t_users(name,username,password,salt,createUser,createTime,updateUser,locked) 
	    values(#{name},#{username},#{password},#{salt},#{createUser},#{createTime},#{updateUser},#{locked})
	</insert>   
    
    <select id="findUserByUsername" resultType="com.helper.model.UserModel">
    	SELECT * from t_users  where username=#{username} and locked=0
	</select>
 	
    
    
<!--  

<update id="updateActivation" >
     <![CDATA[  update t_user SET `status` = '1' where userEmail = #{0} and code =0 #{1}  and  DATE_FORMAT(authTime,'%Y-%m-%d %h-%S-%i') >= DATE_FORMAT(NOW(),'%Y-%m-%d %h-%S-%i')  ]]> 
</update>

<update id="insertUserNamePassword" >
	 update t_user SET userName = #{userName} , password = #{password}  where userEmail = #{userEmail}  
</update>

<select id="loginUser" resultType="com.helper.model.User">
    SELECT * from t_user u where u.userEmail=#{email}  and u.`password`=${password};
</select>


<update id="updateUserAvatra">
    update t_user SET avatarUrl = #{0}   where username = #{1}  
</update> -->

<!-- <insert id="addUserInfo" parameterType="com.helper.model.UserInfo" useGeneratedKeys="true" keyProperty="userInfoId" >
    <selectKey resultType="Integer" keyProperty="userInfoId" order="AFTER">  
        SELECT LAST_INSERT_ID()   
    </selectKey>  
    insert into t_userinfo(userId,realName,gender,birthday,age,hometown,school,company,career,workingDirection,QQ,prov,city,district,createUser,createTime,specialty,level) 
    			 values(#{userId},#{realName},#{gender},#{birthday},#{age},#{hometown},#{school},#{company},#{career},#{workingDirection},#{QQ},#{prov},#{city},#{district},#{createUser},#{createTime},#{specialty},#{level})
</insert>

<select id="getUserInfo" parameterType="int"  resultType="com.helper.model.UserInfo">
    select * from t_userinfo where userId = #{userid} LIMIT 1
</select>

<update id="updateUserInfo" parameterType="com.helper.model.UserInfo" >
    update t_userinfo set realName = #{realName} , gender = #{gender}, birthday = #{birthday}, age = #{age}, hometown = #{hometown}, school =#{school}, company = #{company},
    					  career = #{career}, workingDirection = #{workingDirection}, QQ = #{QQ}, prov = #{prov}, city = #{city} , district = #{district}, updateUser = #{updateUser},
    					  specialty = #{specialty}, level = #{level}  where userId = #{userId}
</update> -->









</mapper>