<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.helper.dao.UserMapper" >
    
<insert id="insertRegisterUser" parameterType="com.helper.model.User" useGeneratedKeys="true" keyProperty="userId" >
    <selectKey resultType="Integer" keyProperty="userId" order="AFTER">  
        SELECT LAST_INSERT_ID()   
    </selectKey>  
    insert into t_user(code,userEmail,authTime,createUser,createTime,updateUser,status) 
    values(#{code},#{userEmail},#{authTime},#{createUser},#{createTime},#{updateUser},#{status})
</insert>

<update id="updateActivation" >
     <![CDATA[  update t_user SET `status` = '1' where userEmail = #{0} and code =0 #{1}  and  DATE_FORMAT(authTime,'%Y-%m-%d %h-%S-%i') >= DATE_FORMAT(NOW(),'%Y-%m-%d %h-%S-%i')  ]]> 
</update>

<update id="insertUserNamePassword" >
	 update t_user SET userName = #{userName} , password = #{password}  where userEmail = #{userEmail}  
</update>

<select id="loginUser" resultType="com.helper.model.User">
    SELECT * from t_user u where u.userEmail=#{email}  and u.`password`=${password};
</select>

<select id="findByUsername" resultType="com.helper.model.User">
    SELECT * from t_user  where username=#{username}
</select>

</mapper>